body{
  text-align: center;
  background-image: url("ChatGPT\ Image\ Jun\ 9\,\ 2025\,\ 02_39_45\ AM.png");
  background-size: cover;
  color: white;
}
button{
  margin: 200px;
  padding: 100px;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.646);
  color: white;
  border: none;
  border-radius: 20px;
  
}